body {
    background-image: url("https://avatanplus.com/files/resources/original/56eceab40f13a1538d74cf5e.png");
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
}



.wrapper{
    background-color: floralwhite;
    width: 1200px;
    height:100%;
    margin: 20px auto;
    border-radius: 3px;
    padding: 20px;
}

#header {
    background-color: azure;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    border-bottom: 1px solid;
}

.logo{
    height: 140px;
    margin-left: 10px;
}

.header_menu{
    display: flex;
    font-size: 26px;
}
.header_menu li a{
    text-decoration: none;
    padding: 20px;
}
.header_menu li{
    list-style-type: none;
}
.header_menu a:hover{
    font-size: 30px;
    color:indigo;
    text-decoration: underline;

}

 .button {
    display: inline-block;
    background-color: deeppink;
    padding-right: 80px;
    padding-left: 80px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 200px;
    text-decoration: none;
 }
 
#content {
    background-image: url("https://lh3.googleusercontent.com/proxy/umjsyAlGpuditclt_Z2RLWRPgAl-ufaCyOW2vNpgQvkLhoqTSWwgF2NL4rW9WYcmieSB_Dnq7BkQe1KFC9MQpLP5VXWJl1zQ5AguwdoRsYi9ZYPHzqER42s");
    float: center;;
    padding: 0;
    margin: 0;
    height: 700px;
    width: 100%;

}
#content p{
    text-align: left;
    width: 800px;
    font-size: 28px;
}

.content_img{
    float: right;
    height: 400px;
    margin-top: -500px;
}


#slider {
    position: relative;
    height: 900px;
  }
  .slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .slider__control--right {
    left: 95%;
  }
  .slider__control:hover {
    background-color: #2da6ff;
  }
  .slider__control-line {
    position: absolute;
    left: 23px;
    top: 50%;
    width: 3px;
    height: 14px;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
            transform: translateY(1px) rotate(-135deg);
  }
  .slider__control--right .slider__control-line {
    left: 37px;
    -webkit-transform-origin: 1px 0;
            transform-origin: 1px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__control--right .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
            transform: translateY(1px) rotate(135deg);
  }
  .slider__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slider__control:hover .slider__control-line:after {
    background-color: #fff;
  }
  .slider__control.a--rotation .slider__control-line:after {
    -webkit-animation: arrowLineRotation 0.49s;
            animation: arrowLineRotation 0.49s;
  }
  .slider__control.a--rotation .slider__control-line:nth-child(1):after {
    -webkit-animation: arrowLineRotationRev 0.49s;
            animation: arrowLineRotationRev 0.49s;
  }
  
  @-webkit-keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  
  @keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @-webkit-keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  @keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  .slider {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150vmax;
    height: 150vmax;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-transition: -webkit-clip-path 0s 0.91s;
    transition: -webkit-clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
    -webkit-clip-path: circle(30px at 120vw 50%);
    clip-path: circle(30px at 120vw 50%);
  }
  .slide.s--prev {
    -webkit-clip-path: circle(30px at 30vw 50%);
            clip-path: circle(30px at 30vw 50%);
  }
  .slide.s--active {
    z-index: 1;
    -webkit-transition: -webkit-clip-path 1.3s;
    transition: -webkit-clip-path 1.3s;
    transition: clip-path 1.3s;
    transition: clip-path 1.3s, -webkit-clip-path 1.3s;
    -webkit-clip-path: circle(120vmax at 120vw 50%);
            clip-path: circle(120vmax at 120vw 50%);
  }
  .slide.s--active.s--active-prev {
    -webkit-clip-path: circle(120vmax at 30vw 50%);
            clip-path: circle(120vmax at 30vw 50%);
  }
  .slide:nth-child(1) .slide__inner {
    background-image: url("https://i1.wp.com/dlia-sporta.ru/wp-content/uploads/2019/06/Basketb-0.jpg?fit=400%2C300&ssl=1");
  }
  .slide:nth-child(2) .slide__inner {
    background-image: url("https://lh3.googleusercontent.com/proxy/zS09bBtgjs7MDZ2-oYvhzaBwUNY1A6UqyXfZCaD3vNpFnpnCv49e6minlF18RZvjd48qAX5vwDP7DgHqMf_6noD7411YxOD5LvcN-OhboJWfWljMS0pZE9C1tw");
  }
  .slide:nth-child(3) .slide__inner {
    background-image: url("https://24.kz/media/k2/items/cache/a2f8ed254953cef2610cfa1de87461e6_XL.jpg");
  }
  .slide:nth-child(4) .slide__inner {
    background-image: url("https://i.ytimg.com/vi/M-wWjuJ20_c/maxresdefault.jpg");
  }
  .slide:nth-child(5) .slide__inner {
    background-image: url("https://i0.wp.com/dlia-sporta.ru/wp-content/uploads/2019/06/Akrobat-1.jpg?resize=400%2C238&ssl=1");
  }
  .slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1100px;
    height: 700px;
    margin-left: -550px;
    margin-top: -370px;
    background-size: cover;
    background-position: center center;
  }
  .slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .slide__content {
    position: absolute;
    left: 5%;
    top: 50%;
    margin-left: -30px;
    margin-top: 48px;
    max-width: 480px;
    color: #fff;
  }
  .slide__heading {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .slide__text {
    font-size: 25px;
  }
  .slide__text a {
    color: inherit;
  }

#sportsmen{
    height: 500px;
    width: 100%;
}

.s_img_left{
    display: flex;
    float: left;
    height: 300px;
    margin: 70px;
}

.s_img_right{
    display: flex;
    float: right;
    height: 300px;
    margin: 70px;
}
#sportsmen a{
    text-decoration: none;
    font-size: 32px;
    padding: 50px;
    margin-left: 100px;
    padding-left: 150px;
}



footer {
   background: #00BFFF;
   width: 100%;
   height: 200px;
   padding: 10px;
}
footer p{
    text-align: center;
    font-size: 32px;

}